@import "../common/colors";

.link{
  display: flex;
  color: $color-text-nav;
  background-color: $background-color-nav;
  font-family: OpenSans-Bold;
  font-weight: bold;
  font-size: 18px;
  padding: 25px 30px;
}